h1 {
  text-align: center;
  width: 100%;
  background: #66CCFF;
  margin-top: 0px;
  padding: 0px;
  font-size: 50px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
body, html {
          height: 100%;
          margin: 0;
          font-family: helvetica;
          font-weight: 100;
          background-color: #D1FFFF;
      } 
      .container {
          position: relative;
          height: 100%;
          width: 100%;
      }
      
      #sidebar {
          position: absolute;
          background: #66CCFF;
          width: 240px;
          height: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          margin-top:-50px;
      }
      #sidebar ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      #sidebar ul li {
          margin: 0;
      }
      #sidebar ul li a {
          padding: 15px 20px;
          font-size: 20px;
          font-weight: 100;
          color: white;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid #66CCFF;
          -webkit-transition:  background 0.3s ease-in-out;
          -moz-transition:  background 0.3s ease-in-out;
          -ms-transition:  background 0.3s ease-in-out;
          -o-transition:  background 0.3s ease-in-out;
          transition:  background 0.3s ease-in-out;
      }
      #sidebar ul li a:hover {
          color: #003366;
      }

      .main-content {
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
      }
     #background {
      color: black;
      width: 75%;
      margin-left: 270px;
      font-size: 20px;
     }

     #links {
      margin:center;
     }

     img {
      margin:auto;
      margin-left:350px;
      margin-top: -10px;
     }

     .backgroundtitle {
      text-align: center;
      width: 700px;
      font-color: black;
      margin-left: 560px;
      background-color: #eb6058;
     }

     #pagetitle {
      padding-left:80px !important;
    }
    #facebook {
      height: 60px;
      width: 60px;
      margin-left:50px;
      margin-top: 10px ;
    }