h1 {
  text-align: center;
  background: #66CCFF;
  margin: 0px;
  font-size: 50px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
body, html {
          height: 100%;
          margin: 0px;
          font-family: helvetica;
          font-weight: 100;
      }
      
    }
      .container {
          position: relative;
          height: 100%;
          width: 100%;
      }
      
      #sidebar {
          position: absolute;
          background: #66CCFF;
          width: 240px;
          height: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      #sidebar ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      #sidebar ul li {
          margin: 0;
      }
      #sidebar ul li a {
          padding: 15px 20px;
          font-size: 20px;
          font-weight: 100;
          color: white;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid #66CCFF;
          -webkit-transition:  background 0.3s ease-in-out;
          -moz-transition:  background 0.3s ease-in-out;
          -ms-transition:  background 0.3s ease-in-out;
          -o-transition:  background 0.3s ease-in-out;
          transition:  background 0.3s ease-in-out;
      }
      #sidebar ul li a:hover {
          color: #003366;
      }

      .main-content {
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;*/
      }
      form {
        font-size: 20px;
        margin-left: 250px;
      }
      input{
        height: 20px;
        width: 200px;
      }
      textarea {
        height: 200px;
        width:300px;
      }
      button {
        margin-left: 250px;
        width: 200px;
      }
      