h1 {
  text-align: center;
  background: #66CCFF;
  margin: 0px;
  font-size: 50px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
body, html {
          height: 100%;
          margin: 0;
          font-family: helvetica;
          font-weight: 100;
  }

  

      .picture {
    position:absolute;
    margin-left: 400px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    }
      
  /*  }
      .container {
          position: relative;
          height: 100%;
          width: 100%;
      }

      */
      
      #sidebar {
          position: absolute;
          background: #66CCFF;
          width: 240px;
          height: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      #sidebar ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      #sidebar ul li {
          margin: 0;
      }
      #sidebar ul li a {
          padding: 15px 20px;
          font-size: 20px;
          font-weight: 100;
          color: white;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid #66CCFF;
          -webkit-transition:  background 0.3s ease-in-out;
          -moz-transition:  background 0.3s ease-in-out;
          -ms-transition:  background 0.3s ease-in-out;
          -o-transition:  background 0.3s ease-in-out;
          transition:  background 0.3s ease-in-out;
      }
    /*  #sidebar ul li a:hover {
          color: #003366;
      } */

      .main-content {
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;*/
      }
      button:hover {
        color: white;
      }
      button {
        background-color: orange;
        height: 70px;
        width: 300px;
        font-size: 30px;
        margin-left:400px;
        margin-top: 430px;
        border-radius: 30px;
        font-size: "Trebuchet MS", Helvetica, sans-serif;
      }
html{
  background-color:#3366CC;
}